<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Play Music by avcodev (Angelo Velandia)
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <div class="container">
    <div class="player">

      <div class="cover-container">
        <img [src]="songs[songActive].cover" alt="Cover" />
      </div>

      <div class="song-info">
        <h2>{{ songs[songActive].title }}</h2>
        <p>{{ songs[songActive].artist }}</p>
      </div>

      <ion-range min="0" max="100" step="1" [value]="progress" (ionChange)="seekTo($event.detail.value)"
        color="primary"></ion-range>

      <div class="controls">
        <ion-button fill="clear" size="large" (click)="prevSong()">
          <ion-icon name="play-skip-back-outline"></ion-icon>
        </ion-button>

        <ion-button fill="clear" size="large" (click)="playMusic()">
          <ion-icon [name]="isPlaying ? 'pause-circle' : 'play-circle'"></ion-icon>
        </ion-button>

        <ion-button fill="clear" size="large" (click)="nextSong()">
          <ion-icon name="play-skip-forward-outline"></ion-icon>
        </ion-button>
      </div>

    </div>
  </div>
</ion-content>